
@font-face {
 font-family: sans-serif;
 /* src: url("fonts"/"abeezeeregular"); */
    font-weight: normal;
}


p {
    font-family: sans-serif;
    letter-spacing: 1px;
    color: black;
}

a {
    font-family: sans-serif;
    letter-spacing: 1px;
    color:black;
}

a2 {
    font-family: sans-serif;
    letter-spacing: 0,5px;
    color:black;
}

a3 {
    font-family: sans-serif;
    letter-spacing: 0px;
    color:black;
}



h1 {
    font-family: sans-serif !important; /***** !important is used to override decisions - it is a great helper */
    
    z-index: 100;
    letter-spacing: 6px;
    color:black;
    /* use fond tthat supports LATIN EXTENDED */
}

h8 {
    font-family: sans-serif !important; /***** !important is used to override decisions - it is a great helper */
    
    font-weight: 900;
    letter-spacing: 3px;
    color:black;
    /* use fond tthat supports LATIN EXTENDED */
}

h7 {
    font-family: sans-serif !important; /***** !important is used to override decisions - it is a great helper */
    font-weight: 300;
    color:black;
    padding: 30px;
    margin: 15px 0;
    letter-spacing: 1px;
}

footer {
    font-family: sans-serif;

}

a href {
    font-family: sans-serif;
    letter-spacing: 1px;
    color:black;
}



form {
    font-family: sans-serif;
    letter-spacing: 1px;
}



/************navbar********************/

nav {
    z-index: 10000;
}

.navbar {
    right: 0;
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    border-bottom: solid 2px #000000;
    padding-bottom: 4px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(0, 0, 0);
}
/************index page***************/

#tagline {
    z-index: 1000;
    width: 100vw;
    padding: 5em;
}

#head-description {
    z-index: 100;
    top: 0;
    left: 0;
}

p {
    font-weight: 400;
    
}

.orange {
    color: rgb(0, 0, 0);
    font-family:  sans-serif;
    
}

/* #bg-image {
    background-image: url(img/exitlogoinverted.png);
    
} */ 
/*******work page*********/
/*carousel section*/

/*#work #myCarousel {
    margin: 15px 0;
}

#work #myCarousel img{
    width: 100vw;
}

#work #portfolio>div>div>h5 {
    color: white;
    font-size: 2em;
    opacity: 0;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

#work #portfolio>div>div>img: hover {
    -webkit-filter: blur(5px) opacity(0.3);
}

#work #portfolio>div>div>img {
    transition: 1.0;
    transition-timing-function: ease-in;
}

#work #myCarousel {
    margin: 15px 0;
}

#work #myCarousel {
    width: 100vw;
}

#work .bg-orange {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    margin: 15px 0;
}

#work .bg-brown {
    background-color: rgb(0, 0, 0);
    padding: 30px;
    margin: 15px 0;
}

#work .bg-black {
    background-color: #000000;
    padding: 30px;
    margin: 15px 0;
    position:relative;
}




/*********contact**********/

#page-aboutcontact{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}

#page-aboutcontact #address{
    margin-top: 300px;
    margin-left: 42%;
}
    

#page-e-zine{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}

#page-e-zine #title{
    margin-top: 300px;
    margin-left: 42%;
}


#page-publications .bg-black {
    background-color: #fafafa;
    padding: 1px;
    margin: 15px 0;
    
}
.portfolio{
    
    
}

#page-publications .bg-orange {
    background-color: #fafafa;
    padding: 1px;
    margin: 50px 0;
   
    
}
.portfolio{
       
}

}

#page-publications .img-responsive {
    padding: 1px;
    margin: 50px 0;
    align-items: center;
   
    
};

small prints{
    padding: 30px;
    margin: 15px 0;
}



#page-projects{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}

#page-links{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}

#page-index2{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}


#page-subscribe{
    background-color: rgb(0);
    height: 100vh; /*******keep contact page always at 100% of viewport height*******/
    overflow: hidden;
}

/*********footer**********/
footer {
    background-color: rgb(255, 255, 255);
    padding: 20%;
     
}


footer h6{
    font-family: cursive"helvetica neue";
    font-weight: 300;
    color: rgb(0, 0, 0); 
  
}

footer social-media{
    padding: 20px 0;
}

footer a {
    color: rgb(0, 0, 0);
    
    footer a:hover{
        color: rgb(0, 0, 0);
    }
       
    footer a:focused{
        color: rgb(0, 0, 0);
    }
        
    footer a:visited{
        color: rgb(0, 0, 0);
    }
        
@ form-group {
    font-family:  sans-serif;
    padding: 20%;
    letter-spacing: 1px;
}
    
@ iframe {
}
    

/* @ logo {
    padding: 10px;
    margin: 10px;
} */

/* mouse over link */
@ a:hover {
    color: black;
    text-decoration: none;
} 
    
    

    
    
    
    /* media query code that executes only on hand-hold devices */

    @media (max-width: 767.99999999px) {
    div {
        margin-bottom: 30px;
    }
    footer div{
        display: inline-block!important;
    }
}

@footer h6{
        display: inline;
        }
  
@footer ""{
        display: inline;
        }

@ newImg {
    position: relative;
    left: -70px;
    top: -100px;
}
/* change padding on mobile site*/
@media (max-width: 767.99999999px) {
    div {
        padding-bottom: 20px;
    }
}




